# Ignore root files
*.root

# Ignore text files  
*.txt

# Ignore PDF files
*.pdf

# Ignore PNG images
*.png

# Ignore log files
*.log

*.eps

*.tex

*.card

*.pyc

rootlist*

Draw*

*.o

*.so

*.hbk

fpda_pid.*

*.lock

*.csv

temp.*

status.md
offline/draw/Phi_data_mc_comparsion/*.pdf.gz
offline/draw/Phi_data_mc_comparsion/fit_results_viewer.html
