# Ignore root files
*.root

# Ignore text files  
*.txt

# Ignore PDF files
*.pdf

# Ignore PNG images
*.png

# Ignore log files
*.log

*.eps

*.tex

*.card

*.pyc

rootlist*

Draw*

*.o

*.so

*.hbk
